ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    -
        map: '~/Workspace/omega_homestead/omega_homestead-app'
        to: /home/vagrant/app

sites:
    -
        map: omega_homestead.test
        to: /home/vagrant/app/public

databases:
    - omega_homestead

name: omega_homestead

hostname: omega_homestead

